.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background: rgb(235, 205, 149);
  width: 100vw;
}

.nav {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 50px;
  padding: 0 20px;
  background: black;
}

.nav-item {
  padding-right: 20px;
}

.nav a {
  text-decoration: none;
  color: rgb(235, 205, 149);
  font-weight: bold;
}

form {
  text-align: center;
  margin: 10px;
}

.search-term,
.submit {
  padding: 10px;
  margin: 0 5px;
  margin-bottom: 30px;
}

.button {
  color: rgb(235, 205, 149);
  background: black;
  font-weight: 700;
}

.bookList {
  text-align: center;
  font-size: x-small;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.bookListItem a {
  color: black;
}

.status {
  margin: 5px;
}

.read {
  margin-top: 10px;
}

.status a {
  color: rgb(235, 205, 149);
  background: black;
  font-weight: 700;
  font-size: larger;
  text-decoration: none;
}

table {
  font-size: larger;
  display: grid;
  align-items: center;
  width: 40vw;
  margin: 10vh auto;
}

tr {
  display: grid;
  grid-template-rows: 80px;
  grid-template-columns: repeat(3, 250px);
  flex-direction: column;
  grid-auto-flow: row;
  background: black;
  color: rgb(235, 205, 149);
}

th {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  margin-top: 20px;
}


.delete {
  background-color: red;
  color: rgb(235, 205, 149);
  font-weight: 600;
}